// Colors

$font: #2c3e50;
$grey: #888;
$darkblue: #40a8c5;
$darkblue7: rgba(64, 168, 197, .7);
$blue5: rgba(95, 220, 255, .5);
$blue2: rgba(95, 220, 255, .2);
$error: rgb(219, 55, 55);

$border: 1px solid $grey;